<!-- accessibility skip to nav skip content -->
<ul class="sr-only" id="top">
 <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to Navigation</a></li>
 <li><a href="#page" title="Skip to content" accesskey="c">Skip to Content</a></li>
</ul><!--  /.sr-only accessibility-->

<!--stripe top bar -->
<span class="stripe top-of-page hidden-print"></span>



<div id="site-wrapper">

<!-- ##### notice that the class on this trigger changes depending on the header used #### -->
<div class="mobile-trigger-wrapper trigger-centered clearfix hidden-print">



<!--mobile NAV/PRIMARY NAV trigger -->
<nav class="mobile-nav-trigger"><i class="icon-menu-1"></i> <span>menu</span></nav>

<!--mobile TOOLBAR trigger -->
<!--  <nav class="mobile-toolbar-trigger"><i class="icon-chat"></i> <span>contact / location</span></nav> -->
<!-- ## use only VERY short 14 character or under words for the trigger names or create another solution for the mobile headers -->

</div><!--/mobile-trigger-wrapper -->


<nav class="mobile-menu hidden-print">

   <div class="search-mobile">
    <form action="your-search-action-script" method="get">
     <input type="search" id="search-mobile" class="form-control" placeholder="Search and hit enter" />
    </form>
   </div>

<!-- ****** jquery clones menu here for mobile ****** -->

</nav><!--/.mobile-menu -->





<div class="site-content clearfix">

<!-- _________ BEGIN HEADER _________ -->
<header class="header header-center clearfix">

<!-- ### .header-left is added for jQuery -->

<div class="container">
<!--.header > .container keeps width in check -->




<!-- _________ BEGIN LOGO _________ -->
<div class="logo-wrapper"><!--manipulate logo position in some themes-->

   <div id="logo">
     <a href="index.html" class="logo-link">
      <img src="assets/images/blank.gif" alt="International Institute for Energy Systems Integration" />
     </a>

    <!-- svg logo-->
    <img class="logo-svg" src="assets/images/logo_iiesi.png" alt="International Institute for Energy Systems Integration" />

    <!--.no-svg fallback -->
    <img class="fallbacklogo" src="assets/images/logo_iiesi.png" alt="International Institute for Energy Systems Integration" />

</div><!-- / #logo -->


</div><!-- / logo-wrapper -->
<!-- _________ END LOGO _________ -->
