<!-- META ============================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">


<!-- CSS ============================================== -->
        <!-- theme fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

        <!-- ___________________________READ ME________________________________________-->
        <!-- Uncompressed css and LESS (upon request) are provided with purchase-->
        <!-- _________________________________________________________________________-->

        <!-- CUSTOM BOOTSTRAP -->
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-custom.min.css" >

        <!-- CORE design -->
        <link rel="stylesheet" type="text/css" href="assets/css/freshtone.min.css">

        <!-- HEADER combine with the freshtone.css when you choose the one you're using but put it at the end of the file AFTER all other CSS -->
        <link rel="stylesheet" type="text/css" href="assets/css/header-nav-tagline-center.min.css">


        <!-- IE 8 Stylesheet -->
        <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="assets/css/ie8.css" ><![endif]-->

        <!-- IE 9 Stylesheet -->
        <!--[if lt IE 10]><link rel="stylesheet" type="text/css" href="assets/css/ie9.css" ><![endif]-->

        <!-- fontello icon fonts read this file before fiddling -->
        <link rel="stylesheet" type="text/css" href="assets/css/fontello.min.css" >


        <!-- Site-wide custom styles -->
        <link rel="stylesheet" type="text/css" href="assets/css/site.css">


        <!-- COLORS -->
        <!-- add the color stylesheet here you want here if it's not the default green color -->
        <link rel="stylesheet" type="text/css" href="assets/css/colors/grey.min.css" >

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/images/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/assets/images/manifest.json">
        <link rel="shortcut icon" href="/assets/images/favicon.ico">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/assets/images/mstile-144x144.png">
        <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">


<!-- SCRIPTS ============================================== -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/IE/html5shiv.js"></script>
        <script src="assets/js/IE/respond.js"></script>
        <![endif]-->


        <!-- MODERNIZR -->
        <script src="assets/js/modernizr-2.6.2.min.js"></script>

        <!--    NOTE:: jquery 2.x does not support IE 8 so version 1.9.1 is used for older versions of IE
                :: calling jQuery in the head for ajax work if necessary.
                -->
        <!--[if gt IE 8]><!-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/jquery-2.0.3.min.js"><\/script>')</script>
        <!--<![endif]-->
        <!--[if lt IE 9]>
        <script src="assets/js/IE/1.9.1-jquery.min.js"></script>
        <![endif]-->


        <!-- Google Analytics -->
        <script type="text/javascript">
         (function() {
            var so = document.createElement('script'); so.type = 'text/javascript'; so.async = true;
            so.src = '//www.nrel.gov/includes/ga/orgs.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(so, s);
          })();
        </script>

        <!-- WINDOWS 8 Phones BUG FIX -->
        <script src="assets/js/IE/windows-fix.js"></script>

