/* -------------------- [ blue.less ] ------------------ */
/*! -------------------- */
/*! BadAssTheme.com: FreshTone Version 1.0.1
* 11 February 2014
* Copyright 2013-2014 Christina Arasmo Beymer 
* License available for purchase at WrapBootstrap.com 
*/
/*! -------------------- */
/* --------------- [ bootstrap and base / general ] ---------------- */
.text-primary.underline {
  border-color: #6d6e71;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #194f92;
  border-color: #123a6b;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary .badge {
  color: #6d6e71;
  background-color: #ffffff;
}
.btn-link,
.text-primary,
.btn-knockout:hover,
.btn-knockout:active,
.btn-knockout:focus {
  color: #6d6e71;
}
a:hover {
  color: #6d6e71;
}
.label-primary {
  background-color: #6d6e71;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #184a89;
}
.panel-primary {
  border-color: #6d6e71;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #6d6e71;
  border-color: #6d6e71;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #6d6e71;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #6d6e71;
}
a.list-group-item:hover span {
  border-color: #6d6e71;
}
a.list-group-item {
  color: #333333;
}
a.list-group-item .list-group-item-heading {
  color: #333333;
}
a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #f7f7f7;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #6d6e71;
  border-color: #6d6e71;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #afccf1;
}
/* --------------- [ dropdown ] ---------------- */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #6d6e71;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #6d6e71;
}
/* --------------- [ bootstrap navs ] ---------------- */
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #6d6e71;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 48em) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 48em) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #6d6e71;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 48em) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 48em) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.form-control:focus {
  border-color: #6d6e71;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(31, 98, 181, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(31, 98, 181, 0.6);
}
/* --------------- [ header / top of page / menu / toolbar ] ---------------- */
.stripe {
  background: #6d6e71;
}
.header.header-right {
  background: #6d6e71;
}
@media (max-width: 47.938em) {
  .toolbar-menu > a:not(.btn) {
    color: #333333;
  }
  .toolbar-menu > li > a:hover,
  .tb-dropmenu .parent .active,
  .toolbar-menu > a:hover,
  .toolbar-menu .tb-drop > a:hover {
    background: #6d6e71;
  }
  .mobile-menu li a {
    color: #333333;
    border-bottom-color: #eeeeee;
  }
  .primary-nav-mobile > li > a:hover,
  .primary-nav-mobile > li > a:focus,
  .primary-nav-mobile > .active > a {
    color: #ffffff;
    background: #6d6e71;
  }
  .primary-nav-mobile ul li a:hover,
  .primary-nav-mobile ul li a:focus,
  .primary-nav-mobile ul .active > a {
    color: #ffffff;
    background: #6d6e71;
  }
  /* drill down menu controls */
  div.l_ddbc {
    color: #6d6e71;
  }
  .trigger-centered.mobile-trigger-wrapper {
    background: #6d6e71;
  }
  .trigger-centered .mobile-nav-trigger:hover,
  .trigger-centered .mobile-toolbar-trigger:hover {
    color: #a4c8f5;
  }
  .trigger-right.mobile-trigger-wrapper {
    background: #ffffff;
  }
  .trigger-right .mobile-nav-trigger,
  .trigger-right .mobile-toolbar-trigger {
    color: #222222;
  }
  .trigger-right .mobile-nav-trigger:hover,
  .trigger-right .mobile-toolbar-trigger:hover {
    color: #6d6e71;
  }
  .mobile-menu {
    background: #ffffff;
  }
  .mobile-menu ul ul {
    background: #ffffff;
  }
}
@media (min-width: 48em) {
  .tb-dropmenu .active a,
  .tb-dropmenu > a:hover,
  .tb-dropmenu .parent .active {
    background: #6d6e71;
  }
  .toolbar-menu a:not(.btn):hover,
  .toolbar-menu .tb-drop > a:not(.btn):hover {
    color: #6d6e71;
  }
  .toolbar .search #search-trigger:hover,
  .toolbar .search #search-trigger.active {
    color: #6d6e71;
  }
  .header-center .primary-nav li a {
    color: #ffffff;
  }
  .header-center .primary-nav > li > a:hover,
  .header-center .primary-nav > .active > a,
  .header-center .primary-nav > li > .dcjq-parent.active {
    color: #a4c8f5;
  }
  .primary-nav ul li a:hover,
  .primary-nav ul .active > a,
  .primary-nav ul li .dcjq-parent.active {
    color: #ffffff;
    background: #194f91;
  }
  .header-center #nav {
    background: #6d6e71;
  }
  /*.header-center .primary-nav > li:not(:last-child) > a {
    border-right: 1px solid #1a5196;
  }
  .header-center .primary-nav > li:not(:first-child) > a {
    border-left: 1px solid #2676d8;
  }*/
  .primary-nav ul {
    background: #6d6e71;
  }
  .header-right .primary-nav > li > a:hover,
  .header-right .primary-nav > .active > a,
  .header-right .primary-nav > li > .dcjq-parent.active {
    background: #1c5ba8;
  }
  .header-right .primary-nav ul li a:hover,
  .primary-nav ul .active > a,
  .primary-nav ul li .dcjq-parent.active {
    background-color: #1c5ba8;
  }
  .header-right #nav {
    background: #6d6e71;
    border-top-color: #2676d8;
  }
}
@media (min-width: 62em) and (min-height: 48em) {
  .no-touch .header.header-center.stickit {
    background-color: #6d6e71;
  }
  .header-right #nav {
    background: #6d6e71;
  }
}
.section-title {
  border-color: #6d6e71;
}
@media (min-width: 62em) {
  .section-title span {
    border-color: #6d6e71;
  }
}
@media (max-width: 47.938em) {
  .page-tabs h2.rtabs-accordion.rtabs-tab-active {
    background: #6d6e71 !important;
  }
}
@media (min-width: 48em) {
  .rtabs .rtabs-tab-active {
    background: #6d6e71 !important;
  }
  .page-tabs .rtabs-tab-content {
    border-top-color: #6d6e71;
    border-bottom-color: #6d6e71;
  }
}
@media (max-width: 50em) {
  .sidebar-tabs h2.rtabs-accordion.rtabs-tab-active {
    background: #6d6e71 !important;
  }
}
@media (min-width: 50.063em) {
  .sidebar-tabs .rtabs-tab-active {
    background: #6d6e71 !important;
  }
}
.callout {
  border-left-color: #6d6e71;
}
.video-holder i {
  color: #6d6e71;
}
.content-group {
  border-left-color: #6d6e71;
}
.content-header.open-content .icon-cancel-circled:hover {
  color: #6d6e71;
}
.accordion-header.open-ac-content h3,
.accordion-header h3:hover {
  color: #6d6e71;
}
.accordion-group {
  border-left-color: #6d6e71;
}
.share-this-small span:hover {
  color: #6d6e71;
}
.share-this-large span:hover {
  color: #6d6e71;
}
.latest-carousel .bx-controls-direction a:hover {
  background: #6d6e71;
}
.video-carousel .bx-controls-direction a:hover {
  background: #6d6e71;
}
.portfolio-slide-wrapper .flex-direction-nav li a:hover {
  background: #6d6e71;
}
.plan.plan-featured .price {
  background: #6d6e71;
}
.plan li.show-details.active i,
.plan li.show-details:hover i {
  color: #6d6e71;
}
.ribbon {
  background: #6d6e71;
}
.bat-sidebar .nav > li > a:hover,
.bat-sidebar .nav > li > a:focus {
  border-left-color: #6d6e71;
}
.bat-sidebar .nav > .active > a,
.bat-sidebar .nav > .active:hover > a,
.bat-sidebar .nav > .active:focus > a {
  color: #6d6e71;
  border-left-color: #6d6e71;
}
.widget .title span {
  border-bottom-color: #6d6e71;
}
.navlist li.active a,
.navlist a:hover,
.navlist li:hover:before {
  color: #6d6e71;
}
.widget .nav > li > a:hover,
.widget .nav > li > a:focus {
  border-left-color: #6d6e71;
}
.widget .nav > .active > a,
.widget .nav > .active:hover > a,
.widget .nav > .active:focus > a {
  color: #6d6e71;
  border-left-color: #6d6e71;
}
.tags a:hover {
  background: #6d6e71;
}
.blog-detail .circle-date {
  background: #6d6e71;
}
a:hover .circle-date {
  background: #6d6e71;
}
#plant1 path {
  fill: #6d6e71;
}
#plant2 path {
  fill: #6d6e71;
}
#plant3 path {
  fill: #6d6e71;
}
.featured-columns .title {
  color: #6d6e71;
  margin-top: 0;
}
.sitemap li a:hover {
  border-color: #6d6e71;
}
.sitemap .sectionheader > span {
  color: #6d6e71;
}
.popup-image [class^="icon-"],
.popup-image [class*=" icon-"] {
  background: #6d6e71;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #6d6e71;
}
#toTop {
  background: #6d6e71;
}
.hover span i {
  background: #6d6e71;
}
.hover-4 {
  background: #6d6e71;
}
#image-array-wrapper .popover {
  background: #6d6e71;
}
#image-array-wrapper .popover.top .arrow:after {
  border-top-color: #6d6e71;
}
@media (max-width: 47.938em) {
  .filter .active {
    color: #6d6e71;
  }
  #filter,
  #filter-select {
    border-color: #6d6e71;
  }
}
@media (min-width: 48em) {
  .sort li a.active {
    color: #6d6e71;
  }
}
.da-arrows span {
  color: #6d6e71;
}
.da-dots li.da-dots-current,
.video-carousel .bx-pager.bx-default-pager a.active,
.inline-slider.flexslider .flex-control-paging li a:hover,
.inline-slider.flexslider .flex-control-paging li a.flex-active,
.flex-content.flexslider .flex-control-paging li a.flex-active,
.fw-flexslider.flexslider .flex-control-paging li a.flex-active,
.nivo-controlNav a.active,
.nivo-controlNav a:hover,
.rotating-testimonials.flexslider .flex-control-paging li a:hover,
.rotating-testimonials.flexslider .flex-control-paging li a.flex-active {
  background: #6d6e71;
  -webkit-box-shadow: inset 1px -1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px -1px 0px 1px rgba(0, 0, 0, 0.2);
}
.customNivoDirection a:hover {
  color: #6d6e71;
}
.nivo-caption {
  background: #6d6e71;
}
.lemmon-wrap .next-page:hover,
.lemmon-wrap .prev-page:hover,
.lemmon-wrap .next-slide:hover,
.lemmon-wrap .prev-slide:hover {
  background: #6d6e71;
}
.fw-flexslider.flexslider .flex-direction-nav .flex-next,
.fw-flexslider.flexslider .flex-direction-nav .flex-prev {
  background: #6d6e71;
}
.flex-content-wrapper .flex-direction-nav .flex-next,
.flex-content-wrapper .flex-direction-nav .flex-prev {
  background: #6d6e71;
}
.rs-arrows a:hover {
  color: #6d6e71;
}
