/*! -------------------- */
/*! BadAssTheme.com: FreshTone Version 1.0.1
* 11 February 2014
* Copyright 2013-2014 Christina Arasmo Beymer 
* License available for purchase at WrapBootstrap.com 
*/
/*! -------------------- */
/* ---------------- [ READ ME ] -----------------------------------------------------------------
These are the centered navigation styles affecting the logo, navigation, slide to top accordions
and the scrollspy/affix pages. Why? Because when the header sticks if you don't adjust between
the appropriate min-widths and min-height the navigation will coverup the target. Please find
these styles at the bottom of this file. If you are viewing the LESS, the variables are at
the top of this file after the import.
-------------------------------------------------------------------------------------------------- */
/*---------------[ ### header :: logo :: primary and mobile navigation ]---------------------------*/
/*---------------------------[ header base shared ]---------------------------*/
.header {
  clear: both;
  position: relative;
  background: #ffffff;
}
.no-boxshadow .header {
  border-bottom: 1px solid #eeeeee;
}
.header .container {
  max-width: none;
  width: 100%;
}
/* ------------------ Tagline -------------------- */
.logo-wrapper h2.tagline {
  font-weight: normal;
  font-size: 90%;
  text-align: center;
  padding: 10px 5%;
  margin: 0;
}
/*---------------------------[ #logo the smallest version for small devices ]---------------------------*/
/*
This is an svg logo with fallback requires Modernizer and all these fussy settings,
but it works so well.
*/
/* base logo styles */
.logo-svg {
  overflow: hidden;
  /* ie 9 */
  background: transparent!important;
}
#logo a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/*don't show logo fall back .png image if there is support for svg */
.svg #logo img.fallbacklogo {
  display: none;
}
/* don't show svg OBJECT if there is NO support for svg & js off */
.no-svg #logo .logo-svg,
.no-js #logo .logo-svg {
  display: none;
}
/* show logo fallback .png image if there is NO support for svg */
.no-svg #logo .fallbacklogo {
  display: block;
}
/* --------- LOGO MOBILE -------- */
#logo {
  width: 100%;
  padding: 15px 5% 0;
  position: relative;
  text-align: center;
}
#logo {
  opacity: 0;
}
.logo-svg,
.no-svg #logo .fallbacklogo,
.no-js #logo .fallbacklogo {
  width: 100%;
  max-width: 180px;
  min-width: 100px;
  margin: 0 auto;
}
/* IF JS is off on container */
.no-js #logo {
  opacity: 1;
}
@media (min-width: 48em) {
  /*---------------------------[ #logo - logo tablet size centered ]---------------------------*/
  #logo {
    width: 100%;
/*    padding: 20px 0 10px; */
    position: relative;
    text-align: left;
  }
  .header .logo-wrapper {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    /* fast clearfix */
  }
  .logo-wrapper h2.tagline {
    text-align: left;
    font-size: 95%;
  }
  .logo-svg,
  .no-js #logo .fallbacklogo,
  .no-svg #logo .fallbacklogo {
    width: 100%;
    max-width: 200px;
    margin: 0;
  }

}
@media (min-width: 62em) {
  /*---------------------------[ #logo - logo biggest ]---------------------------*/
  #logo {
    padding: 28px 0 0 0;
    float: left;
    text-align: left;
    width: 30%;
  }
  .header .logo-wrapper {
    margin: 0 auto;
    overflow: hidden;
    /* fast clearfix */
  }
  .logo-wrapper h2.tagline {
    float: right;
    line-height: 90px;
    /* vertical centering */
    width: 70%;
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: right;
  }
  .logo-svg,
  .no-js #logo .fallbacklogo,
  .no-svg #logo .fallbacklogo {
    width: 100%;
    max-width: 300px;
    margin: 0;
  }
}
/* MENU --------------------------------------------------------------------------------
On desktop the menu is located below the logo in the source order and in the
display. This is so we can adjust the styles and have the logo on the top, left,
or right of the logo. On mobile, the desktop menu is hidden and a clone of it with
a new class is assigned.
-----------------------------------------------------------------------------------*/
/*---------------------------[ main menu shared ]---------------------------*/
/*------ Top Level Base Link -----*/
.primary-nav li a,
.mobile-menu li a {
  text-decoration: none;
}
/*---------------------------[ main menu icons shared ]---------------------------*/
.primary-nav i:before,
.mobile-menu i:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
/*------ down arrow  -----*/
.primary-nav li i:before {
  content: "\e760";
}
/*------ up arrow -----*/
.primary-nav li .active i:before {
  content: "\e763";
}
/*------ right arrow on mobile menu  -----*/
.mobile-menu ul li i:before {
  content: "\e762";
}
/*------ click turns into up arrow    -----*/
.primary-nav > .active > i:before,
.primary-nav li > .active i:before {
  content: "\e763";
}
/*------ plus sign    -----*/
.primary-nav li ul li i:before {
  content: "\e800";
}
/*------ change to minus sign or plus sign depending on status    -----*/
.primary-nav li ul .active i:before {
  content: "\e80e";
}
.primary-nav li ul .active.parent i:before {
  content: "\e800";
}
.primary-nav li ul .active.parent .active i:before {
  content: "\e80e";
}
/*------------------------[ mobile menu is not shared with the desktop menu, so it's in a max width ]---------------------------*/
@media (max-width: 47.938em) {
  /*------------------------[ menu colors on small devices ]---------------------------*/
  /*------ Top Level Base Link MOBILE -----*/
  .mobile-menu li a {
    color: #333333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #eeeeee;
  }
  /*------ COLORS Primary Menu Mobile Top Level -----*/
  .primary-nav-mobile > li > a:hover,
  .primary-nav-mobile > li > a:focus,
  .primary-nav-mobile > .active > a {
    color: #ffffff;
    background: #6fa314;
  }
  /*------ COLORS Primary Menu Mobile Sub Levels -----*/
  .primary-nav-mobile ul li a:hover,
  .primary-nav-mobile ul li a:focus,
  .primary-nav-mobile ul .active > a {
    color: #ffffff;
    background: #6fa314;
  }
  /* drill down menu controls */
  div.l_ddbc {
    color: #6fa314;
  }
  a.goHome,
  a.goUp {
    color: #222222;
  }
  /*---------------------------[    mobile nav triggers including toolbar trigger (the trigger, not the toolbar) ]---------------------------*/
  .mobile-trigger-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.5%;
    background: #6fa314;
  }
  .mobile-nav-trigger,
  .mobile-toolbar-trigger {
    position: relative;
    line-height: 35px;
    font-size: 11px;
    font-size: 0.6875rem;
    color: #ffffff;
    cursor: pointer;
    float: left;
    width: 30%;
    /* the menu trigger is 30% of the width */
    z-index: 100;
    text-transform: uppercase;
  }
  .mobile-nav-trigger:hover,
  .mobile-toolbar-trigger:hover {
    color: #d8fa9c;
  }
  .mobile-toolbar-trigger {
    width: 70%;
    /* the toolbar trigger is 70% of the width */
    float: right;
  }
  .mobile-nav-trigger span,
  .mobile-toolbar-trigger span {
    position: relative;
    top: -2px;
  }
  .mobile-nav-trigger i,
  .mobile-toolbar-trigger i {
    position: relative;
    font-size: 20px;
    font-size: 1.25rem;
    cursor: pointer;
    text-align: left;
    top: 1px;
    left: -2px;
  }
  .mobile-nav-trigger.active i:before {
    content: "\2716";
  }
  .mobile-toolbar-trigger {
    float: right;
    text-align: right;
  }
  .mobile-toolbar-trigger i {
    text-align: right;
  }
  .mobile-toolbar-trigger.active i:before {
    content: "\2716";
  }
  /*------- mobile trigger wrapper -------- */
  .mobile-trigger-wrapper {
    position: relative;
    z-index: 100;
  }
  /*---------------------------[    mobile search ]---------------------------*/
  /* the search in the toolbar is NOT this search. The toolbar search is hidden on small devices and this one takes its place on small devices */
  .search-mobile {
    padding: 10px;
  }
  .search-mobile label {
    font-weight: normal;
  }
  .search-mobile input {
    text-align: center;
  }
  .search-mobile form {
    margin: 0;
  }
  /*---------------------------[    mobile-menu ]---------------------------*/
  #nav {
    display: none;
  }
  .mobile-menu {
    display: none;
    clear: both;
    padding: 0;
    background: #ffffff;
  }
  .mobile-nav-trigger {
    display: block;
  }
  .mobile-menu ul {
    margin: 1px 0 0 0;
    padding: 0;
    list-style: none;
  }
  .mobile-menu ul ul {
    background: #ffffff;
  }
  .mobile-menu li a {
    display: block;
    padding: 8px 10px;
  }
  .mobile-menu li:last-child {
    border-bottom: none;
  }
  /*------- drilldown styles -------- */
  .l_drillDownWrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .l_drillDown {
    position: relative;
    overflow: visible;
    margin: 0;
  }
  .l_drillDown ul {
    display: none;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
  }
  .l_drillDown li {
    cursor: pointer;
    display: block;
    padding: 0;
  }
  .l_drillDown a {
    display: block;
  }
  .l_ddbc {
    display: none;
  }
  .l_drillDown ul.dd-active,
  .l_drillDown ul.displayed {
    display: block;
  }
  div.l_ddbc {
    padding: 8px 10px;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    clear: both;
  }
  a.goHome,
  a.goUp {
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
  }
  div.l_ddbc i {
    position: relative;
    left: -5px;
  }
}
/*------------------------[ DESKTOP MENU ]---------------------------*/
@media (min-width: 48em) {
  /*------------------------[ menu colors on tablet and large devices ]---------------------------*/
  /*------ Top Level Base Link DESKTOP-----*/
  .primary-nav li a {
    color: #ffffff;
  }
  /*------ COLORS Primary Menu Desktop Top Level -----*/
  .primary-nav > li > a:hover,
  .primary-nav > .active > a,
  .primary-nav > li > .dcjq-parent.active {
    color: #d8fa9c;
  }
  /*------ COLORS Primary Menu Desktop Sub Levels -----*/
  .primary-nav ul li a:hover,
  .primary-nav ul .active > a,
  .primary-nav ul li .dcjq-parent.active {
    color: #ffffff;
    background: #659412;
  }
  /*------------------------[ menu styles tablets and up until the next min-width ]---------------------------*/
  #nav {
    margin: 0;
    padding: 0;
    z-index: 100;
    height: 50px;
    background: #6fa314;
    float: left;
    width: 100%;
  }
  #nav ul {
    list-style: none;
  }
  /* --- parent or top level link --- */
  .primary-nav li a {
    border: none;
    font-size: 14px;
    font-size: 0.875rem;
    display: block;
    height: 50px;
    line-height: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 0 10px;
    text-decoration: none;
  }
  /* --- top level link borders --- */
  /*.primary-nav > li:not(:last-child) > a {
    border-right: 1px solid #689813;
  }
  .primary-nav > li:not(:first-child) > a {
    border-left: 1px solid #7ab217;
  } */
  /* --- child level link --- */
  .primary-nav li ul a {
    height: auto;
    display: block;
    line-height: 1.5;
    padding: 7px 10px;
    margin: 0;
    width: auto;
  }
  /* --- position of icons in menu --- */
  /* --- parent level icon --- */
  .primary-nav i {
    position: relative;
    right: -3px;
    top: 0px;
    font-size: 12px;
    font-size: 0.75rem;
  }
  /* --- child level icon --- */
  .primary-nav ul i {
    position: absolute;
    left: auto;
    right: 10px;
    top: 7px;
  }
  /* --- ul styles --- */
  /* --- parent ul --- */
  .primary-nav {
    margin: 0;
    padding: 0;
    list-style: none;
 /*   float: right; */
    position: relative;
 /*   right: 50%; */
  }
  /* --- child ul --- */
  .primary-nav ul {
    width: 225px;
    display: none;
    margin: 0;
    left: 0;
    top: 50px;
    background: #6fa314;
    position: absolute;
    z-index: 10000;
    border-radius: 0 0 5px 5px;
    padding: 15px 0;
  }
  .no-boxshadow .primary-nav ul {
    border: 1px solid #dddddd;
    border-top-width: 0;
  }
  .no-js .primary-nav li:hover > ul {
    display: block;
  }
  /* --- grandchildren ul --- */
  .primary-nav ul ul {
    margin: 0;
    position: absolute;
    right: auto;
    border-top-width: 1px;
    top: -1px !important;
    left: 100%;
    border-radius: 5px;
  }
  /* --- great grandchildren ul -- */
  .primary-nav li ul li ul {
    top: 5px!important;
  }
  /* --- parent level list item -- */
  .primary-nav li {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  
  /* --- child level list item -- */
  .primary-nav li ul li {
    left: auto;
    margin: 0;
    width: 100%;
  }
  /*------------------------[ edge detect ]---------------------------*/
  .primary-nav li.edge ul {
    left: auto;
    right: 0!important;
  }
  .primary-nav ul li.edge ul {
    right: auto;
    left: -225px !important;
  }
  .primary-nav li.parent.edge > ul > li.parent > ul {
    right: auto;
    left: -225px !important;
  }
  /*---------------------------[ hide stuff on desktop ]---------------------------*/
  .mobile-trigger-wrapper,
  .l_drillDownWrapper,
  .mobile-menu,
  .mobile-menu .search-mobile {
    display: none;
  }
}
@media (min-width: 75em) {
  /* --- parent or top level link --- */
  .primary-nav li a {
    font-size: 16px;
    font-size: 1rem;
  }
  /* --- child level link --- */
  .primary-nav li ul a {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/*---------------[ ### custom affix scrollspy is affected by the navbar height these take variables ]---------------------------*/
@media screen and (min-width: 62em) {
  /* ------ add padding so things don't get covered up ---*/
  .bat-content .target {
    padding-top: 60px;
    margin-top: -50px;
  }
  /* ------ top navigation clearance: */
  .no-touch .bat-sidebar.affix-stick {
    top: 60px;
  }
  /* anchor links have class .anchor */
  .no-touch #page .anchor {
    padding-top: 70px;
    /* desktop header height + 10px */
    margin-top: -70px;
    /* negative desktop header height + 10px */
  }
  .lt-ie9 .header.stickit,
  .lt-ie9 .stripe.top-of-page.stickit {
    position: relative!important;
    top: auto;
  }
}
@media (min-width: 62em) and (min-height: 48em) {
  /* ----- adjust sticky for this min-width :: laptops do not get the sticky since they are too short ---- */
  /*---------------------------[ sticky adjustments ]---------------------------*/
  .no-touch .slt-accordion .toolbar {
    -webkit-transition: all 0.05s ease;
    -moz-transition: all 0.05s ease;
    -o-transition: all 0.05s ease;
    -ms-transition: all 0.05s ease;
    transition: all 0.05s ease;
    -webkit-transform: translateZ(360deg);
    transform: translateZ(360deg);
  }
  .no-touch .slt-accordion .toolbar.stickit {
    padding-bottom: 180px;
    /* unfixed combined height :: toolbar + header (nav) stripe and padding */
    -webkit-transition: padding 0.75s linear;
    -moz-transition: padding 0.75s linear;
    -o-transition: padding 0.75s linear;
    -ms-transition: padding 0.75s linear;
    transition: padding 0.75s linear;
    -webkit-transform: translateZ(360deg);
    transform: translateZ(360deg);
  }
  .no-touch .toolbar {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: padding 0.8s ease;
    -moz-transition: padding 0.8s ease;
    -o-transition: padding 0.8s ease;
    -ms-transition: padding 0.8s ease;
    transition: padding 0.8s ease;
    -webkit-transform: translateZ(360deg);
    transform: translateZ(360deg);
  }
  .no-touch .toolbar.stickit {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: padding 0.05s ease;
    -moz-transition: padding 0.05s ease;
    -o-transition: padding 0.05s ease;
    -ms-transition: padding 0.05s ease;
    transition: padding 0.05s ease;
    -webkit-transform: translateZ(360deg);
    transform: translateZ(360deg);
  }
  /*---------------[ ### the slide to top accordions is affected by the navbar height these take variables ]-----------*/
  .content-header.open-content,
  .accordion-header.open-ac-content {
    padding-top: 75px !important;
  }
  .no-touch .header.stickit {
    background-color: #6fa314;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 5px;
    height: 60px;
    /* height of the sticky */
  }
  .no-touch .header.stickit #logo {
    display: none;
  }
  .no-touch .header.stickit #nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  .no-touch .header.stickit #logo,
  .no-touch .header.stickit .tagline {
    display: none;
  }
  .no-touch .header.stickit .primary-nav > li > a {
    height: 60px;
    line-height: 60px;
  }
  /* --- child ul when header is sticky --- */
  .no-touch .header.stickit .primary-nav ul {
    top: 60px;
  }
  .no-touch .stripe.top-of-page.stickit {
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.primary-nav li {
		left:35%;
	}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.primary-nav li {
	  left:50%;
	}
}