.jumbo-header-wrapper {
  position: relative;
  padding: 0;
/*  overflow: hidden; */
  margin: -4% 0 3% 0;
  width: 100%;
}
.jumbo-header {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
/*  overflow: hidden;
  max-height: 450px; */
  clear: both;
}
.jumbo-header img {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: none;
  display: block;
  margin:1em 0;
}
.jumbo-header-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}

.jumbo-header-caption {
  position: absolute;
  left: 0;
  display: block;
  right: 0;
  top: 0;
  z-index: 8;
  overflow: hidden;
  text-align: right;
}
.jumbo-header-caption h4 {
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem 1rem;
}

.search-mobile {
    display: none;
}

.agenda-table tr td:first-child {
    width:25%;
}

.agenda-table-two-col tr td:first-child {
    width:75%;
}

.fileicon {
    display: inline;
    margin-left: .25em;
}
section {padding:2em 0;}
.footer {
	font-family:'Roboto', sans-serif;
	text-align:center;
	padding-top:3em;
}
.greybg {
	background-color:#6d6e71; 
	color:#fff;
	padding:3em 0;
	margin-bottom:3em;
}
.greybg h2 {
	color:#fff;
}
.ltgreybg {
	background-color:#eae9e9; 
	padding: 2.5em 0 1.5em 0;
}
.blkbg {
	background-color:#000;
	color:#fff;
	padding:5em 0;
}
.blkbg .lead {
	color:#fff;
	font-weight:400;
}
.indent {margin-left:2em}
.video-text-link {
	color:#fff;
	margin:0;
	font-size:0.75em;
	font-weight:400;
	font-style:italic;
	text-align:right;
}
.list-group-item h5 {
	margin-bottom:0;
}
.list-group-item p {
	margin-top:0
}
.reverse {
	color:#fff;
}
.pad {
	margin:2em 0;
}
.leadership {
	float:left;
	margin: 0 10px 10px 0;
}
.orange {
	color:#D36C05;
}

/*==========  Home Page  ==========*/

.hpcaption {
	background: #000;
	box-sizing: border-box;
	line-height: 1.1;
	padding: .5em 1em;
	border-bottom: 10px solid #D36C05;
	margin-bottom:15px;
}
.hp-wrapper {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
	margin-bottom:15px;
}
.hp-container-1 {
	background: #000;
	box-sizing: border-box;
	line-height: 1.1;
	padding: .5em 1em;
	float:left;
	flex:0.75;
}
.hp-container-2 {
	display:inline;
	flex:1.5;
}
.hp-container-2 img {
	border-bottom:10px solid #0496CC;
}
.hpcaption p, .hp-container-1 p {
	color:#fff;
	margin-top:0;
	line-height:normal;
}
.hpcaption h1, .hpcaption h2, .hp-container-1 h1, .hp-container-1 h2 {
	line-height:normal;
	margin:12px 0 0 0;
}
.hpvideo {
	margin:2em 0 0 0;
}
.hpvideo a, .hpvideo a:hover, .hpvideo a:visited {
	color:#fff;
}
.hplead {
	font-family:'Roboto', sans-serif;
	font-size:22px;
	margin:0;
	color:#2495d3;
}

	/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .hp-container-1 p.lead {
			font-size: 16px;
		}
		.hp-container-1 h2 {
			font-size: 22px;
		}
		.hplead {
			font-size:20px;
		}
		.form-inline .form-control {
    		width: 98%;
  		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
		.hp-container-1 p.lead {
			font-size: 18px;
		}
		.hp-container-1 h2 {
			font-size: 26px;
		}
		.form-inline .form-control {
    		width: 300px;
  		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.hp-container-1 p.lead {
			font-size: 16px;
		}
		.hp-container-1 h2 {
			font-size: 22px;
		}
		.hplead {
			font-size:20px;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.hp-container-1 p.lead {
			font-size: 18px;
		}
		.hp-container-1 h2 {
			font-size: 26px;
		}
		.hplead {
			font-size:24px;
		}
		.hpcaption p.lead {
			margin-bottom:30px;
		}
    }



/*==========  Black Callout Box  ==========*/

.blk-box {
	background-color:#000;
	font-family:'Roboto', sans-serif;
	padding:20px;
	margin-bottom:30px;
	border-bottom: 10px solid #0496CC;
}
.blk-box h2, .blk-box p {
	color:#fff;
}
.blk-box h3.blue, .blk-box p.blue {
	color:#0496CC;
}
.small {font-size:14px;}
.google-maps {
	position: relative;
	padding-bottom: 40%; /*This is the aspect ratio*/
	height: 0;
	overflow: hidden;
	margin-bottom:25px;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100% !important;
	height: 100% !important;
}