.jumbo-header-wrapper {
  position: relative;
  padding: 0;
/*  overflow: hidden; */
  margin: -4% 0 3% 0;
  width: 100%;
}
.jumbo-header {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
/*  overflow: hidden;
  max-height: 450px; */
  clear: both;
}
.jumbo-header img {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: none;
  display: block;
  margin:1em 0;
}
.jumbo-header-main-image {
  display: block !important;
  position: relative !important;
  width: 100% !important;
}

.jumbo-header-caption {
  position: absolute;
  left: 0;
  display: block;
  right: 0;
  top: 0;
  z-index: 8;
  overflow: hidden;
  text-align: right;
}
.jumbo-header-caption h4 {
  color:#fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 2rem 1rem;
}

.search-mobile {
    display: none;
}

.agenda-table tr td:first-child {
    width:25%;
}

.agenda-table-two-col tr td:first-child {
    width:75%;
}

.fileicon {
    display: inline;
    margin-left: .25em;
}
.footer {
	text-align:center;
	margin-top:5em;
}
.greybg {
	background-color:#6d6e71; 
	color:#fff;
	padding:3em 0;
	margin-bottom:3em;
}
.greybg h2 {
	color:#fff;
}
.indent {margin-left:2em}

/*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
